const COUCHDB_USER = "YOUR_USER";
const COUCHDB_PASSWORD = "YOUR_PASSWORD";
const COUCHDB_PROTO = process.env.COUCHDB_PROTO || "https";
const COUCHDB_SERVER = process.env.COUCHDB_SERVER || "YOUR_SERVER";
const COUCHDB_DB = process.env.COUCHDB_DB || "majsoul";

module.exports = {
  URL_BASE: "https://www.majsoul.com/1/",
  ACCESS_TOKEN: process.env.MAJSOUL_ACCESS_TOKEN || "YOUR_TOKEN",
  COUCHDB_USER,
  COUCHDB_PASSWORD,
  COUCHDB_SERVER,
  COUCHDB_DB,
  COUCHDB_URL: `${COUCHDB_PROTO}://${COUCHDB_USER}:${COUCHDB_PASSWORD}@${COUCHDB_SERVER}/${COUCHDB_DB}`,
};
// vim: sw=2:ts=2:expandtab:fdm=syntax
